@media (min-width: 0px) and (max-width: 649.99px) {
  .estrutura {
    grid-template-areas: 
      "top"
      "sidenav"
      "conteudo"
      "anuncios"
      "rodape"
    ;
    grid-template-columns: 1fr;
  }

  /*TITULO*/
  .top {
    grid-template-columns: 1fr;
  }

  .lista-menu a {
    font-size: 0.9rem;
  }

  /*SIDENAV*/
  .sidenav {
    overflow-x: auto;
  }

  .sidenav li + li {
    margin: 0px;
  }
  
  .lista-navegacao {
    display: flex;
    height: 100px;
  }

  .lista-navegacao a {
    height: 100%;
    width: 100px;
    margin-right: 20px;
  }

  /*CONTEUDO*/
  .conteudo {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .p-cortado {
    width: 100%;
  }

  /*ANUNCIO*/
  .anuncios {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 650px) and (max-width: 799.99px) {
  /*ESTRUTURA*/
  .estrutura {
    grid-template-areas: 
      "top"
      "sidenav"
      "conteudo"
      "anuncios"
      "rodape"
    ;
    grid-template-columns: 1fr;
  }

  /*TITULO*/
  .top {
    grid-template-columns: 1fr;
  }

  /*SIDENAV*/
  .sidenav {
    overflow-x: auto;
  }

  .lista-navegacao {
    display: flex;
    height: 100px;
  }

  .sidenav li + li {
    margin-top: 0;
  }

  .sidenav a {
    height: 100%;
    width: 100px;
    margin-right: 30px;
  }

  /*CONTEUDO*/
  .p-cortado {
    width: 100%;
  }

  /*ANUNCIOS*/
  .anuncios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /*ESTRUTURA*/
  .estrutura {
    grid-template-areas: 
      "top      top"
      "sidenav  conteudo"
      "sidenav  anuncios"
      "rodape   rodape"
    ;
    grid-template-columns: 1fr 4fr;
  }

  /*CONTEUDO*/
  .p-cortado {
    width: 100%;
  }

  /*ANUNCIOS*/
  .anuncios {
    grid-template-columns: 1fr 1fr;
  }
}